@import "./buttons.css";   

body {
    background-color:rgb(17, 8, 8) ;
    font-family:Arial, Helvetica, sans-serif;
}

.wrapper {
    max-inline-size: 900px;
    margin:auto;
}

.player {
    margin-block-start: 100px;
    position: relative;
}

.player-blur {
    background: url('../images/patricio.jpg') center/cover no-repeat;
    filter: blur(24px);
    position: absolute;
    inset: 0;
    z-index: -1; 
    opacity: 0; 
    transition: opacity 0.5s; 
}


.player video {
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    border-radius: 10px;
    object-fit: cover;
}

.player-title {
    color: white;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
}

.player-actions {
    position: absolute;
    inset: 0;
    inset-block-end: 0;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.player-progress {
    position:absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
}

.player-progress input {
    flex: 1;
}

.player-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.player:hover .player-overlay {
    opacity: 1;
    border:10px solid chartreuse;
    border-radius: 10px;
}
